<a href="https://colab.research.google.com/github/brunotagoncalves/bimbo-compassers/blob/main/kaggle_api_1st_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook para Download e Leitura Inicial de Arquivos

1) Instalação e Download de Arquivos Kaggle

In [1]:
# Podem  ocorrrer falhas de instalação como lxml, mas isso não atrapalha o restante do código
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 2.9MB/s
     |████████████████████████████████| 4.2MB 5.9MB/s
     |████████████████████████████████| 143kB 42.5MB/s
     |████████████████████████████████| 51kB 6.4MB/s
     |████████████████████████████████| 112kB 47.8MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for lxml (setup.py) ... error
  ERROR: Failed building wheel for lxml
  Building wheel for PrettyTable (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done
    Running setup.py install for lxml ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-nqmkstxq/lxml/setup.py'"'"'; __file__='"'"'/tmp/pip-install-nqmkstxq/lxml/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-70k6y9p3/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.

In [2]:
# Alterando arquivo de config do Kaggle com dados pessoais https://www.kaggle.com/"username"/account  crie um token pessoal no botão "create new api token"
!mkdir ~/.kaggle
!echo '{"username":"bruno9tg","key":"702cbacb35b74aaf6cf1ac91c6883b5a"}' > ~/.kaggle/kaggle.json

In [3]:
#utiliza api kaggle para realizar download
#!kaggle competitions download -c grupo-bimbo-inventory-demand
!kaggle competitions download -p data/ grupo-bimbo-inventory-demand

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading cliente_tabla.csv.zip to data
  0% 0.00/5.87M [00:00<?, ?B/s]
100% 5.87M/5.87M [00:00<00:00, 97.6MB/s]
Downloading sample_submission.csv.zip to data
 54% 8.00M/14.8M [00:00<00:00, 80.1MB/s]
100% 14.8M/14.8M [00:00<00:00, 94.5MB/s]
Downloading town_state.csv.zip to data
  0% 0.00/6.35k [00:00<?, ?B/s]
100% 6.35k/6.35k [00:00<00:00, 6.60MB/s]
Downloading test.csv.zip to data
 82% 70.0M/85.8M [00:00<00:00, 135MB/s]
100% 85.8M/85.8M [00:00<00:00, 173MB/s]
Downloading train.csv.zip to data
 96% 356M/373M [00:03<00:00, 173MB/s]
100% 373M/373M [00:03<00:00, 121MB/s]
Downloading producto_tabla.csv.zip to data
  0% 0.00/31.5k [00:00<?, ?B/s]
100% 31.5k/31.5k [00:00<00:00, 31.7MB/s]

2) Leitura básica dos arquivos

In [4]:
import pandas as pd

In [5]:
!ls data/

cliente_tabla.csv.zip	sample_submission.csv.zip  town_state.csv.zip
producto_tabla.csv.zip	test.csv.zip		   train.csv.zip

In [6]:
pd.read_csv('data/cliente_tabla.csv.zip').head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [7]:
pd.read_csv('data/producto_tabla.csv.zip').head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [8]:
pd.read_csv('data/sample_submission.csv.zip').head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [9]:
pd.read_csv('data/test.csv.zip').head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [10]:
pd.read_csv('data/town_state.csv.zip').head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [11]:
# Para os dados de treino o volume já excede a memoria do Colab usar a função iterator se faz necessário.
sample_train = pd.read_csv('data/train.csv.zip', nrows=1000)
sample_train

     Semana  Agencia_ID  ...  Dev_proxima  Demanda_uni_equil
0         3        1110  ...          0.0                  3
1         3        1110  ...          0.0                  4
2         3        1110  ...          0.0                  4
3         3        1110  ...          0.0                  4
4         3        1110  ...          0.0                  3
..      ...         ...  ...          ...                ...
995       3        1110  ...          0.0                 25
996       3        1110  ...          0.0                  6
997       3        1110  ...          0.0                  1
998       3        1110  ...          0.0                  2
999       3        1110  ...          0.0                  6

[1000 rows x 11 columns]

3) Instalação de Leitura com SPARK

In [12]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz 
!wget -P spark_tgz/ http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

--2021-06-02 01:57:44--  http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving www-eu.apache.org (www-eu.apache.org)... 95.216.26.30, 2a01:4f9:2a:1a61::2
Connecting to www-eu.apache.org (www-eu.apache.org)|95.216.26.30|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz [following]
--2021-06-02 01:57:45--  https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving downloads.apache.org (downloads.apache.org)... 88.99.95.219, 135.181.209.10, 135.181.214.104, ...
Connecting to downloads.apache.org (downloads.apache.org)|88.99.95.219|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 235899716 (225M) [application/x-gzip]
Saving to: ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’

spark-2.4.8-bin-had 100%[===================>] 224.97M  26.6MB/s    in 9.4s

2021-06-02 01:57:54 (24.0 MB/s) - ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’ saved [235899716/235899716]

In [13]:
!tar -xf spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz -C spark_tgz/
!pip install -q findspark
!pip install -q pyspark

     |████████████████████████████████| 212.4MB 67kB/s
     |████████████████████████████████| 204kB 22.3MB/s
  Building wheel for pyspark (setup.py) ... done

In [14]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark_tgz/spark-2.4.8-bin-hadoop2.7"

In [15]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [19]:
!unzip 'data/*.zip' -d 'data/'

Archive:  data/producto_tabla.csv.zip
  inflating: data/producto_tabla.csv

Archive:  data/cliente_tabla.csv.zip
  inflating: data/cliente_tabla.csv

Archive:  data/sample_submission.csv.zip
  inflating: data/sample_submission.csv

Archive:  data/train.csv.zip
  inflating: data/train.csv

Archive:  data/town_state.csv.zip
  inflating: data/town_state.csv

Archive:  data/test.csv.zip
  inflating: data/test.csv

6 archives were successfully processed.

In [20]:
df = spark.read.format('csv').option("header", "True").load("data/train.csv")

In [21]:
%%time
df.count()

CPU times: user 163 ms, sys: 13 ms, total: 176 ms
Wall time: 31.7 s

74180464

In [22]:

g_df_Semana= df.groupBy('Semana').count().toPandas()

In [23]:
g_df_Semana.loc[:,'percent'] = g_df_Semana['count']/g_df_Semana['count'].sum()

In [24]:
g_df_Semana.sort_values('Semana')

  Semana     count   percent
1      3  11165207  0.150514
6      4  11009593  0.148416
3      5  10615397  0.143102
4      6  10191837  0.137392
0      7  10382849  0.139967
2      8  10406868  0.140291
5      9  10408713  0.140316

# Relacionando tabelas

In [25]:
!ls data/*.csv

data/cliente_tabla.csv	 data/sample_submission.csv  data/town_state.csv
data/producto_tabla.csv  data/test.csv		     data/train.csv

In [26]:
spark.read.format('csv').option("header", "True").load("data/cliente_tabla.csv").createOrReplaceTempView('cliente_tabla') 
spark.read.format('csv').option("header", "True").load("data/sample_submission.csv").createOrReplaceTempView('sample_submission') 
spark.read.format('csv').option("header", "True").load("data/town_state.csv").createOrReplaceTempView('town_state') 
spark.read.format('csv').option("header", "True").load("data/producto_tabla.csv").createOrReplaceTempView('producto_tabla') 
spark.read.format('csv').option("header", "True").load("data/test.csv").createOrReplaceTempView('test') 
spark.read.format('csv').option("header", "True").load("data/train.csv").createOrReplaceTempView('train')

In [33]:
spark.read.format('csv').option("header", "True").load("data/train.csv").sample(fraction=0.005).count()#createOrReplaceTempView('train')

370146

In [34]:
spark.read.format('csv').option("header", "True").load("data/train.csv").sample(fraction=0.001).createOrReplaceTempView('train')# peguei uma amostra para agilizar o processamento em dev

In [39]:
spark.sql("""
SELECT train.*
  , cliente_tabla.NombreCliente 
  , producto_tabla.NombreProducto
  , town_state.Town
  , town_state.State
FROM train
LEFT JOIN cliente_tabla 
  on train.Cliente_ID = cliente_tabla.Cliente_ID
LEFT JOIN producto_tabla
  on train.Producto_ID = producto_tabla.Producto_ID
LEFT JOIN town_state
  on train.Agencia_ID = town_state.Agencia_ID  
""").limit(10).toPandas()

  Semana Agencia_ID  ...                   Town             State
0      3       1310  ...    2260 GONZALEZ GALLO           JALISCO
1      6       1310  ...    2260 GONZALEZ GALLO           JALISCO
2      7       1310  ...    2260 GONZALEZ GALLO           JALISCO
3      4       1912  ...       2294 GUADALAJARA           JALISCO
4      7       1310  ...    2260 GONZALEZ GALLO           JALISCO
5      6       1474  ...    2477 SALTILLO BIMBO          COAHUILA
6      3       2629  ...         2188 MARAVATIO         MICHOACÁN
7      9       1137  ...          2014 AG. NEZA  ESTADO DE MÉXICO
8      5       1220  ...  2048 AG. IXTAPALUCA 1  ESTADO DE MÉXICO
9      3       1315  ...           2268 PALOMAR           JALISCO

[10 rows x 15 columns]

In [31]:
spark.sql("""
SELECT COUNT(DISTINCT Cliente_ID) 
  ,COUNT(DISTINCT NombreCliente) 
FROM cliente_tabla
""").limit(10).toPandas() # Número de ID é maior que nomes distintos isso se deve id duplicados ou homonimos ?

   count(DISTINCT Cliente_ID)  count(DISTINCT NombreCliente)
0                      930500                         311155

In [47]:
spark.sql("""
SELECT train.*
  , cliente_tabla.NombreCliente 
  , producto_tabla.NombreProducto
  , town_state.Town
  , town_state.State
FROM train
LEFT JOIN cliente_tabla 
  on train.Cliente_ID = cliente_tabla.Cliente_ID
LEFT JOIN producto_tabla
  on train.Producto_ID = producto_tabla.Producto_ID
LEFT JOIN town_state
  on train.Agencia_ID = town_state.Agencia_ID  
""").write.mode('overwrite').format('parquet').save('data/tabelao_sample/')

In [48]:
df = spark.read.format('parquet').load('data/tabelao_sample/')

In [49]:
df.count()

74185

In [52]:
df.limit(5).toPandas()

  Semana Agencia_ID  ...                   Town             State
0      5       1227  ...   2066 TOLUCA PONIENTE  ESTADO DE MÉXICO
1      5       2017  ...  2158 CUERNAVACA CIVAC           MORELOS
2      3       1911  ...             2309 NORTE           JALISCO
3      9       1633  ...      2360 OAXACA BIMBO            OAXACA
4      3       1453  ...   2481 WONDER GUERRERO        NUEVO LEÓN

[5 rows x 15 columns]

In [59]:
df.createOrReplaceTempView('tabelao_sample')

In [62]:
spark.sql("""
SELECT *
  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) SUM_Town_Demanda_uni_equil
  ,SUM(Demanda_uni_equil) OVER (PARTITION BY State) SUM_State_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) AVG_Town_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
FROM tabelao_sample
""").limit(10).toPandas()

  Semana Agencia_ID  ... AVG_Town_Demanda_uni_equil AVG_State_Demanda_uni_equil
0      9       2281  ...                       14.0                    9.791925
1      9       2281  ...                       14.0                    9.791925
2      7       2281  ...                       14.0                    9.791925
3      3       2281  ...                       14.0                    9.791925
4      8       2281  ...                       14.0                    9.791925
5      8       2281  ...                       14.0                    9.791925
6      6       2281  ...                       14.0                    9.791925
7      9       2281  ...                       14.0                    9.791925
8      9       2281  ...                       14.0                    9.791925
9      3       2281  ...                       14.0                    9.791925

[10 rows x 19 columns]