<a href="https://colab.research.google.com/github/brunotagoncalves/bimbo-compassers/blob/main/kaggle_api_2st_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook para Download e Leitura Inicial de Arquivos

1) Instalação e Download de Arquivos Kaggle

In [1]:
# Podem  ocorrrer falhas de instalação como lxml, mas isso não atrapalha o restante do código
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 4.1MB/s
     |████████████████████████████████| 4.2MB 9.2MB/s
     |████████████████████████████████| 51kB 6.2MB/s
     |████████████████████████████████| 143kB 42.1MB/s
     |████████████████████████████████| 112kB 42.2MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for lxml (setup.py) ... error
  ERROR: Failed building wheel for lxml
  Building wheel for PrettyTable (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done
    Running setup.py install for lxml ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-3f3mcurq/lxml/setup.py'"'"'; __file__='"'"'/tmp/pip-install-3f3mcurq/lxml/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-r1oqfh1y/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.

In [2]:
# Alterando arquivo de config do Kaggle com dados pessoais https://www.kaggle.com/"username"/account  crie um token pessoal no botão "create new api token"
!mkdir ~/.kaggle
!echo '{"username":"bruno9tg","key":"656f29061b3fcda2f8c1541f3492f24d"}' > ../root/.kaggle/kaggle.json

In [3]:
#utiliza api kaggle para realizar download
#!kaggle competitions download -c grupo-bimbo-inventory-demand
!kaggle competitions download -p data/ grupo-bimbo-inventory-demand

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to data
 99% 369M/373M [00:02<00:00, 181MB/s]
100% 373M/373M [00:02<00:00, 149MB/s]
Downloading sample_submission.csv.zip to data
 34% 5.00M/14.8M [00:00<00:00, 47.7MB/s]
100% 14.8M/14.8M [00:00<00:00, 71.0MB/s]
Downloading cliente_tabla.csv.zip to data
  0% 0.00/5.87M [00:00<?, ?B/s]
100% 5.87M/5.87M [00:00<00:00, 51.7MB/s]
Downloading test.csv.zip to data
 85% 73.0M/85.8M [00:00<00:00, 104MB/s]
100% 85.8M/85.8M [00:00<00:00, 126MB/s]
Downloading town_state.csv.zip to data
  0% 0.00/6.35k [00:00<?, ?B/s]
100% 6.35k/6.35k [00:00<00:00, 6.58MB/s]
Downloading producto_tabla.csv.zip to data
  0% 0.00/31.5k [00:00<?, ?B/s]
100% 31.5k/31.5k [00:00<00:00, 30.9MB/s]

2) Leitura básica dos arquivos

In [4]:
import pandas as pd

In [5]:
!ls data/

cliente_tabla.csv.zip	sample_submission.csv.zip  town_state.csv.zip
producto_tabla.csv.zip	test.csv.zip		   train.csv.zip

In [6]:
pd.read_csv('data/cliente_tabla.csv.zip').head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [7]:
pd.read_csv('data/producto_tabla.csv.zip').head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [8]:
pd.read_csv('data/sample_submission.csv.zip').head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [9]:
pd.read_csv('data/test.csv.zip').head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [10]:
pd.read_csv('data/test.csv.zip').groupby('Semana').count()

             id  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
Semana
10      3538385     3538385   3538385   3538385     3538385      3538385
11      3460866     3460866   3460866   3460866     3460866      3460866

In [11]:
pd.read_csv('data/town_state.csv.zip').head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [12]:
# Para os dados de treino o volume já excede a memoria do Colab usar a função iterator se faz necessário.
sample_train = pd.read_csv('data/train.csv.zip', nrows=1000)
sample_train

     Semana  Agencia_ID  ...  Dev_proxima  Demanda_uni_equil
0         3        1110  ...          0.0                  3
1         3        1110  ...          0.0                  4
2         3        1110  ...          0.0                  4
3         3        1110  ...          0.0                  4
4         3        1110  ...          0.0                  3
..      ...         ...  ...          ...                ...
995       3        1110  ...          0.0                 25
996       3        1110  ...          0.0                  6
997       3        1110  ...          0.0                  1
998       3        1110  ...          0.0                  2
999       3        1110  ...          0.0                  6

[1000 rows x 11 columns]

3) Instalação de Leitura com SPARK

In [13]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz 
!wget -P spark_tgz/ http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

--2021-06-15 11:53:10--  http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving www-eu.apache.org (www-eu.apache.org)... 95.216.26.30, 2a01:4f9:2a:1a61::2
Connecting to www-eu.apache.org (www-eu.apache.org)|95.216.26.30|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz [following]
--2021-06-15 11:53:10--  https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.214.104, 88.99.95.219, 135.181.209.10, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.214.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 235899716 (225M) [application/x-gzip]
Saving to: ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’

spark-2.4.8-bin-had 100%[===================>] 224.97M  24.1MB/s    in 10s

2021-06-15 11:53:21 (21.9 MB/s) - ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’ saved [235899716/235899716]

In [14]:
!tar -xf spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz -C spark_tgz/
!pip install -q findspark
!pip install -q pyspark

     |████████████████████████████████| 212.4MB 70kB/s
     |████████████████████████████████| 204kB 43.1MB/s
  Building wheel for pyspark (setup.py) ... done

In [1]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark_tgz/spark-2.4.8-bin-hadoop2.7"

In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [17]:
!unzip 'data/*.zip' -d 'data/'

Archive:  data/sample_submission.csv.zip
  inflating: data/sample_submission.csv

Archive:  data/cliente_tabla.csv.zip
  inflating: data/cliente_tabla.csv

Archive:  data/town_state.csv.zip
  inflating: data/town_state.csv

Archive:  data/train.csv.zip
  inflating: data/train.csv

Archive:  data/test.csv.zip
  inflating: data/test.csv

Archive:  data/producto_tabla.csv.zip
  inflating: data/producto_tabla.csv

6 archives were successfully processed.

In [18]:
df = spark.read.format('csv').option("header", "True").load("data/train.csv")

In [19]:
%%time
df.count()

CPU times: user 142 ms, sys: 23.6 ms, total: 165 ms
Wall time: 30.7 s

74180464

In [20]:
g_df_Semana= df.groupBy('Semana').count().toPandas()

In [21]:
g_df_Semana.loc[:,'percent'] = g_df_Semana['count']/g_df_Semana['count'].sum()

In [22]:
g_df_Semana.sort_values('Semana')

  Semana     count   percent
1      3  11165207  0.150514
6      4  11009593  0.148416
3      5  10615397  0.143102
4      6  10191837  0.137392
0      7  10382849  0.139967
2      8  10406868  0.140291
5      9  10408713  0.140316

# Relacionando tabelas

In [23]:
!ls data/*.csv

data/cliente_tabla.csv	 data/sample_submission.csv  data/town_state.csv
data/producto_tabla.csv  data/test.csv		     data/train.csv

In [3]:
spark.read.format('csv').option("header", "True").load("data/cliente_tabla.csv").createOrReplaceTempView('cliente_tabla') 
spark.read.format('csv').option("header", "True").load("data/sample_submission.csv").createOrReplaceTempView('sample_submission') 
spark.read.format('csv').option("header", "True").load("data/town_state.csv").createOrReplaceTempView('town_state') 
spark.read.format('csv').option("header", "True").load("data/producto_tabla.csv").createOrReplaceTempView('producto_tabla') 
spark.read.format('csv').option("header", "True").load("data/test.csv").createOrReplaceTempView('test') 
spark.read.format('csv').option("header", "True").load("data/train.csv").createOrReplaceTempView('train')

In [4]:
df = spark.sql("""
SELECT train.*
--  , cliente_tabla.NombreCliente 
  , producto_tabla.NombreProducto
  , town_state.Town
  , town_state.State
FROM train
--LEFT JOIN cliente_tabla 
--  on train.Cliente_ID = cliente_tabla.Cliente_ID
LEFT JOIN producto_tabla
  on train.Producto_ID = producto_tabla.Producto_ID
LEFT JOIN town_state
  on train.Agencia_ID = town_state.Agencia_ID  
""")
#.write.mode('overwrite').format('parquet').save('data/tabelao/')

In [26]:
df.write.partitionBy(["Agencia_ID"]).mode('overwrite').format('parquet').save('data/tabelao/')

In [5]:
df = spark.read.format('parquet').load('data/tabelao/')

In [6]:
%%time
df.count()

CPU times: user 63.5 ms, sys: 4.77 ms, total: 68.3 ms
Wall time: 9.41 s

74180464

In [7]:
df.limit(5).toPandas()

  Semana Canal_ID Ruta_SAK  ...        Town    State Agencia_ID
0      3        1     2135  ...  2309 NORTE  JALISCO       1911
1      3        1     1007  ...  2309 NORTE  JALISCO       1911
2      3        1     2135  ...  2309 NORTE  JALISCO       1911
3      3        1     1007  ...  2309 NORTE  JALISCO       1911
4      3        1     2135  ...  2309 NORTE  JALISCO       1911

[5 rows x 14 columns]

In [8]:
df.createOrReplaceTempView('tabelao')

In [9]:
spark.sql("""
SELECT *
  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) SUM_Town_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) AVG_Town_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MIN_Town_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MAX_Town_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) SUM_Town_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) AVG_Town_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MIN_Town_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MAX_Town_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY State) SUM_State_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY State) MIN_State_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY State) MAX_State_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) SUM_State_Prod_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) AVG_State_Prod_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MIN_State_Prod_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MAX_State_Prod_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) SUM_Prod_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) AVG_Prod_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MIN_Prod_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MAX_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) SUM_Cliente_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) AVG_Cliente_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) MIN_Cliente_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) MAX_Cliente_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) SUM_Cliente_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) AVG_Cliente_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) MIN_Cliente_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) MAX_Cliente_Prod_Demanda_uni_equil
  
  ,LAG(Demanda_uni_equil,1) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_1_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,2) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_2_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,3) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_3_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,4) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_4_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,5) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_5_Cliente_Prod_Demanda_uni_equil
 
FROM tabelao
where Agencia_ID <= 2000
--ORDER BY Semana, Producto_ID
""").filter('Semana==9').write.partitionBy(["Agencia_ID"]).mode('overwrite').format('parquet').save('data/tabelao_over/')

In [10]:
df = spark.read.format('parquet').load('data/tabelao_over/')
df.count() # 74180464?

6878922

In [11]:
%%time
spark.sql("""
SELECT *
  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) SUM_Town_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) AVG_Town_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MIN_Town_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MAX_Town_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) SUM_Town_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) AVG_Town_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MIN_Town_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MAX_Town_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY State) SUM_State_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY State) MIN_State_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY State) MAX_State_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) SUM_State_Prod_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) AVG_State_Prod_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MIN_State_Prod_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MAX_State_Prod_Demanda_uni_equil

  --,SUM(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) SUM_Prod_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) AVG_Prod_Demanda_uni_equil
  --,MIN(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MIN_Prod_Demanda_uni_equil
  --,MAX(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MAX_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) SUM_Cliente_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) AVG_Cliente_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) MIN_Cliente_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID,Cliente_ID) MAX_Cliente_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) SUM_Cliente_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) AVG_Cliente_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) MIN_Cliente_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID) MAX_Cliente_Prod_Demanda_uni_equil
  
  ,LAG(Demanda_uni_equil,1) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_1_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,2) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_2_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,3) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_3_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,4) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_4_Cliente_Prod_Demanda_uni_equil
  ,LAG(Demanda_uni_equil,5) OVER (PARTITION BY Agencia_ID, Cliente_ID, Producto_ID ORDER BY Semana) LAG_5_Cliente_Prod_Demanda_uni_equil
 
FROM tabelao
where Agencia_ID > 2000
--ORDER BY Semana, Producto_ID
""").filter('Semana==9').write.partitionBy(["Agencia_ID"]).mode('append').format('parquet').save('data/tabelao_over/')

CPU times: user 3.8 s, sys: 383 ms, total: 4.18 s
Wall time: 10min 22s

In [13]:
df = spark.read.format('parquet').load('data/tabelao_over/')
df.count() # 74180464?

10408713

In [14]:
df.describe()

DataFrame[summary: string, Semana: string, Canal_ID: string, Ruta_SAK: string, Cliente_ID: string, Producto_ID: string, Venta_uni_hoy: string, Venta_hoy: string, Dev_uni_proxima: string, Dev_proxima: string, Demanda_uni_equil: string, NombreProducto: string, Town: string, State: string, SUM_Town_Prod_Demanda_uni_equil: string, AVG_Town_Prod_Demanda_uni_equil: string, MIN_Town_Prod_Demanda_uni_equil: string, MAX_Town_Prod_Demanda_uni_equil: string, SUM_Town_Demanda_uni_equil: string, AVG_Town_Demanda_uni_equil: string, MIN_Town_Demanda_uni_equil: string, MAX_Town_Demanda_uni_equil: string, SUM_Cliente_Demanda_uni_equil: string, AVG_Cliente_Demanda_uni_equil: string, MIN_Cliente_Demanda_uni_equil: string, MAX_Cliente_Demanda_uni_equil: string, SUM_Cliente_Prod_Demanda_uni_equil: string, AVG_Cliente_Prod_Demanda_uni_equil: string, MIN_Cliente_Prod_Demanda_uni_equil: string, MAX_Cliente_Prod_Demanda_uni_equil: string, LAG_1_Cliente_Prod_Demanda_uni_equil: string, LAG_2_Cliente_Prod_Demanda_uni_equil: string, LAG_3_Cliente_Prod_Demanda_uni_equil: string, LAG_4_Cliente_Prod_Demanda_uni_equil: string, LAG_5_Cliente_Prod_Demanda_uni_equil: string, Agencia_ID: string]