<a href="https://colab.research.google.com/github/brunotagoncalves/bimbo-compassers/blob/main/kaggle_api_1st_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook para Download e Leitura Inicial de Arquivos

1) Instalação e Download de Arquivos Kaggle

In [2]:
# Podem  ocorrrer falhas de instalação como lxml, mas isso não atrapalha o restante do código
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 5.8MB/s
     |████████████████████████████████| 4.2MB 21.1MB/s
     |████████████████████████████████| 112kB 61.4MB/s
     |████████████████████████████████| 51kB 4.6MB/s
     |████████████████████████████████| 143kB 58.1MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for lxml (setup.py) ... error
  ERROR: Failed building wheel for lxml
  Building wheel for PrettyTable (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done
    Running setup.py install for lxml ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-fxbuafre/lxml/setup.py'"'"'; __file__='"'"'/tmp/pip-install-fxbuafre/lxml/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-0707ltkd/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.

In [3]:
# Alterando arquivo de config do Kaggle com dados pessoais https://www.kaggle.com/"username"/account  crie um token pessoal no botão "create new api token"
!mkdir ~/.kaggle
!echo '{"username":"bruno9tg","key":"af1c55f9b5f7047607614bcf60ee719b"}' > ~/.kaggle/kaggle.json

In [4]:
#utiliza api kaggle para realizar download
#!kaggle competitions download -c grupo-bimbo-inventory-demand
!kaggle competitions download -p data/ grupo-bimbo-inventory-demand

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv.zip to data
 34% 5.00M/14.8M [00:00<00:00, 18.3MB/s]
100% 14.8M/14.8M [00:00<00:00, 41.7MB/s]
Downloading town_state.csv.zip to data
  0% 0.00/6.35k [00:00<?, ?B/s]
100% 6.35k/6.35k [00:00<00:00, 5.43MB/s]
Downloading producto_tabla.csv.zip to data
  0% 0.00/31.5k [00:00<?, ?B/s]
100% 31.5k/31.5k [00:00<00:00, 27.8MB/s]
Downloading test.csv.zip to data
 86% 74.0M/85.8M [00:00<00:00, 52.2MB/s]
100% 85.8M/85.8M [00:00<00:00, 110MB/s]
Downloading train.csv.zip to data
 96% 357M/373M [00:03<00:00, 88.1MB/s]
100% 373M/373M [00:03<00:00, 99.1MB/s]
Downloading cliente_tabla.csv.zip to data
 85% 5.00M/5.87M [00:00<00:00, 20.9MB/s]
100% 5.87M/5.87M [00:00<00:00, 22.8MB/s]

2) Leitura básica dos arquivos

In [5]:
import pandas as pd

In [6]:
!ls data/

cliente_tabla.csv.zip	sample_submission.csv.zip  town_state.csv.zip
producto_tabla.csv.zip	test.csv.zip		   train.csv.zip

In [7]:
pd.read_csv('data/cliente_tabla.csv.zip').head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [8]:
pd.read_csv('data/producto_tabla.csv.zip').head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [9]:
pd.read_csv('data/sample_submission.csv.zip').head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [10]:
pd.read_csv('data/test.csv.zip').head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [11]:
pd.read_csv('data/town_state.csv.zip').head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

In [12]:
# Para os dados de treino o volume já excede a memoria do Colab usar a função iterator se faz necessário.
sample_train = pd.read_csv('data/train.csv.zip', nrows=1000)
sample_train

     Semana  Agencia_ID  ...  Dev_proxima  Demanda_uni_equil
0         3        1110  ...          0.0                  3
1         3        1110  ...          0.0                  4
2         3        1110  ...          0.0                  4
3         3        1110  ...          0.0                  4
4         3        1110  ...          0.0                  3
..      ...         ...  ...          ...                ...
995       3        1110  ...          0.0                 25
996       3        1110  ...          0.0                  6
997       3        1110  ...          0.0                  1
998       3        1110  ...          0.0                  2
999       3        1110  ...          0.0                  6

[1000 rows x 11 columns]

3) Instalação de Leitura com SPARK

In [13]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz 
!wget -P spark_tgz/ http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

--2021-06-09 19:00:32--  http://www-eu.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving www-eu.apache.org (www-eu.apache.org)... 95.216.26.30, 2a01:4f9:2a:1a61::2
Connecting to www-eu.apache.org (www-eu.apache.org)|95.216.26.30|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz [following]
--2021-06-09 19:00:32--  https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
Resolving downloads.apache.org (downloads.apache.org)... 135.181.209.10, 135.181.214.104, 88.99.95.219, ...
Connecting to downloads.apache.org (downloads.apache.org)|135.181.209.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 235899716 (225M) [application/x-gzip]
Saving to: ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’

spark-2.4.8-bin-had 100%[===================>] 224.97M  78.4MB/s    in 2.9s

2021-06-09 19:00:35 (78.4 MB/s) - ‘spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz’ saved [235899716/235899716]

In [14]:
!tar -xf spark_tgz/spark-2.4.8-bin-hadoop2.7.tgz -C spark_tgz/
!pip install -q findspark
!pip install -q pyspark

     |████████████████████████████████| 212.4MB 67kB/s
     |████████████████████████████████| 204kB 23.1MB/s
  Building wheel for pyspark (setup.py) ... done

In [15]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark_tgz/spark-2.4.8-bin-hadoop2.7"

In [16]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [17]:
!unzip 'data/*.zip' -d 'data/'

Archive:  data/cliente_tabla.csv.zip
  inflating: data/cliente_tabla.csv

Archive:  data/producto_tabla.csv.zip
  inflating: data/producto_tabla.csv

Archive:  data/sample_submission.csv.zip
  inflating: data/sample_submission.csv

Archive:  data/train.csv.zip
  inflating: data/train.csv

Archive:  data/test.csv.zip
  inflating: data/test.csv

Archive:  data/town_state.csv.zip
  inflating: data/town_state.csv

6 archives were successfully processed.

In [74]:
df = spark.read.format('csv').option("header", "True").load("data/train.csv")

In [75]:
%%time
df.count()

CPU times: user 96.1 ms, sys: 11.4 ms, total: 108 ms
Wall time: 21.3 s

74180464

In [76]:
df = spark.read.format('parquet').load('data/tabelao/')

In [77]:
%%time
df.count()

CPU times: user 3.11 ms, sys: 2.09 ms, total: 5.2 ms
Wall time: 296 ms

74773833

In [20]:

g_df_Semana= df.groupBy('Semana').count().toPandas()

In [21]:
g_df_Semana.loc[:,'percent'] = g_df_Semana['count']/g_df_Semana['count'].sum()

In [22]:
g_df_Semana.sort_values('Semana')

  Semana     count   percent
1      3  11165207  0.150514
6      4  11009593  0.148416
3      5  10615397  0.143102
4      6  10191837  0.137392
0      7  10382849  0.139967
2      8  10406868  0.140291
5      9  10408713  0.140316

# Relacionando tabelas

In [23]:
!ls data/*.csv

data/cliente_tabla.csv	 data/sample_submission.csv  data/town_state.csv
data/producto_tabla.csv  data/test.csv		     data/train.csv

In [24]:
spark.read.format('csv').option("header", "True").load("data/cliente_tabla.csv").createOrReplaceTempView('cliente_tabla') 
spark.read.format('csv').option("header", "True").load("data/sample_submission.csv").createOrReplaceTempView('sample_submission') 
spark.read.format('csv').option("header", "True").load("data/town_state.csv").createOrReplaceTempView('town_state') 
spark.read.format('csv').option("header", "True").load("data/producto_tabla.csv").createOrReplaceTempView('producto_tabla') 
spark.read.format('csv').option("header", "True").load("data/test.csv").createOrReplaceTempView('test') 
spark.read.format('csv').option("header", "True").load("data/train.csv").createOrReplaceTempView('train')

In [25]:
spark.read.format('csv').option("header", "True").load("data/train.csv").sample(fraction=0.005).count()#createOrReplaceTempView('train')

370943

In [69]:
spark.read.format('csv').option("header", "True").load("data/train.csv").createOrReplaceTempView('train')# peguei uma amostra para agilizar o processamento em dev

In [70]:
spark.sql("""
SELECT train.*
  , cliente_tabla.NombreCliente 
  , producto_tabla.NombreProducto
  , town_state.Town
  , town_state.State
FROM train
LEFT JOIN cliente_tabla 
  on train.Cliente_ID = cliente_tabla.Cliente_ID
LEFT JOIN producto_tabla
  on train.Producto_ID = producto_tabla.Producto_ID
LEFT JOIN town_state
  on train.Agencia_ID = town_state.Agencia_ID  
""").limit(10).toPandas()

  Semana Agencia_ID  ...              Town    State
0      4       1617  ...    2370 TEZIUTLAN   PUEBLA
1      5       1617  ...    2370 TEZIUTLAN   PUEBLA
2      3       1912  ...  2294 GUADALAJARA  JALISCO
3      3       1912  ...  2294 GUADALAJARA  JALISCO
4      3       1912  ...  2294 GUADALAJARA  JALISCO
5      3       1912  ...  2294 GUADALAJARA  JALISCO
6      3       1912  ...  2294 GUADALAJARA  JALISCO
7      3       1912  ...  2294 GUADALAJARA  JALISCO
8      3       1912  ...  2294 GUADALAJARA  JALISCO
9      3       1912  ...  2294 GUADALAJARA  JALISCO

[10 rows x 15 columns]

In [57]:
spark.sql("""
SELECT COUNT(DISTINCT Cliente_ID) 
  ,COUNT(DISTINCT NombreCliente) 
FROM cliente_tabla
""").limit(10).toPandas() # Número de ID é maior que nomes distintos isso se deve id duplicados ou homonimos ?

   count(DISTINCT Cliente_ID)  count(DISTINCT NombreCliente)
0                      930500                         311155

In [71]:
spark.sql("""
SELECT train.*
  , cliente_tabla.NombreCliente 
  , producto_tabla.NombreProducto
  , town_state.Town
  , town_state.State
FROM train
LEFT JOIN cliente_tabla 
  on train.Cliente_ID = cliente_tabla.Cliente_ID
LEFT JOIN producto_tabla
  on train.Producto_ID = producto_tabla.Producto_ID
LEFT JOIN town_state
  on train.Agencia_ID = town_state.Agencia_ID  
""").write.mode('overwrite').format('parquet').save('data/tabelao/')

In [79]:
df = spark.read.format('parquet').load('data/tabelao/')

In [80]:
df.count()

74773833

In [81]:
df.limit(5).toPandas()

  Semana Agencia_ID  ...                           Town       State
0      3       2043  ...  2156 CELAYA INDUSTRIAL WONDER  GUANAJUATO
1      3       2043  ...  2156 CELAYA INDUSTRIAL WONDER  GUANAJUATO
2      3       2043  ...  2156 CELAYA INDUSTRIAL WONDER  GUANAJUATO
3      3       2043  ...  2156 CELAYA INDUSTRIAL WONDER  GUANAJUATO
4      3       2043  ...  2156 CELAYA INDUSTRIAL WONDER  GUANAJUATO

[5 rows x 15 columns]

In [82]:
df.createOrReplaceTempView('tabelao')

In [83]:
spark.sql("""
SELECT *
  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) SUM_Town_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) AVG_Town_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MIN_Town_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID, Producto_ID) MAX_Town_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) SUM_Town_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) AVG_Town_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MIN_Town_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) MAX_Town_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY State) SUM_State_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY State) MIN_State_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY State) MAX_State_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) SUM_State_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) AVG_State_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MIN_State_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY State, Producto_ID) MAX_State_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) SUM_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) AVG_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MIN_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Producto_ID) MAX_Prod_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID) SUM_Cliente_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID) AVG_Cliente_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID) MIN_Cliente_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID) MAX_Cliente_Demanda_uni_equil

  ,SUM(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID, Producto_ID) SUM_Cliente_Prod_Demanda_uni_equil
  ,AVG(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID, Producto_ID) AVG_Cliente_Prod_Demanda_uni_equil
  ,MIN(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID, Producto_ID) MIN_Cliente_Prod_Demanda_uni_equil
  ,MAX(Demanda_uni_equil) OVER (PARTITION BY Cliente_ID, Producto_ID) MAX_Cliente_Prod_Demanda_uni_equil
  
  --,LAG(Demanda_uni_equil,1) OVER (PARTITION BY Cliente_ID, Producto_ID ORDER BY Semana) LAG_1_Cliente_Prod_Demanda_uni_equil



  --,SUM(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) SUM_Town_Demanda_uni_equil
  --,SUM(Demanda_uni_equil) OVER (PARTITION BY State) SUM_State_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY Agencia_ID) AVG_Town_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
  --,AVG(Demanda_uni_equil) OVER (PARTITION BY State) AVG_State_Demanda_uni_equil
FROM tabelao

""").limit(10).toPandas()

  Semana  ... SUM_Cliente_Prod_Demanda_uni_equil
0      7  ...                                 10
1      8  ...                                 10
2      9  ...                                110
3      4  ...                                 10
4      8  ...                                  0
5      5  ...                                 10
6      3  ...                                 10
7      9  ...                                 10
8      3  ...                                 20
9      4  ...                                 20

[10 rows x 43 columns]

In [37]:
clientes = pd.read_csv('data/cliente_tabla.csv.zip')

In [66]:
clientes.dtypes

Cliente_ID        int64
NombreCliente    object
dtype: object

In [39]:
clientes[clientes.Cliente_ID.duplicated()]

        Cliente_ID                         NombreCliente
5                4  SDN SER DE ALIM CUERPO SA CIA DE INT
63             262   BALNEARIO IXTAPAN S  DE R L  DE C V
65             465            ESCUELA PREPARAROTIA NO  5
80            1589                     C E S U  SANTIAGO
98            2033                       ABTS  OCOTITLAN
...            ...                                   ...
932741     9517439                   SUPERDES S A DE C V
932922     9532710                   SUPERDES S A DE C V
932959     9533930   SERVIFARMACIAS PACIFICO S A  DE C V
933799     9612023           GRUPO FERMOSELLE S A DE C V
934733     9694173                          OXXO DR COSS

[4862 rows x 2 columns]

In [40]:
clientes.loc[clientes.loc[:,'Cliente_ID']==4,:]

   Cliente_ID                            NombreCliente
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT
5           4     SDN SER DE ALIM CUERPO SA CIA DE INT

In [41]:
clientes.loc[clientes.loc[:,'Cliente_ID']==4,:].drop_duplicates()

   Cliente_ID                            NombreCliente
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT
5           4     SDN SER DE ALIM CUERPO SA CIA DE INT

In [42]:
clientes.loc[clientes.loc[:,'Cliente_ID']==4,:]== clientes.loc[5,'NombreCliente']

   Cliente_ID  NombreCliente
4       False          False
5       False           True

In [54]:
clientes.loc[4:5,'NombreCliente'].str.strip().unique()

array(['SDN SER  DE ALIM  CUERPO SA CIA  DE INT',
       'SDN SER DE ALIM CUERPO SA CIA DE INT'], dtype=object)

In [44]:
clientes.loc[5,'NombreCliente']

'SDN SER DE ALIM CUERPO SA CIA DE INT'

In [46]:
pd.read_csv('data/town_state.csv.zip').nunique()

Agencia_ID    790
Town          260
State          33
dtype: int64

In [47]:
pd.read_csv('data/town_state.csv.zip').shape

(790, 3)

In [48]:
pd.read_csv('data/producto_tabla.csv.zip').nunique()

Producto_ID       2592
NombreProducto    2592
dtype: int64

In [49]:
pd.read_csv('data/producto_tabla.csv.zip').shape

(2592, 2)